#submitDiv{
    float: right;
}

.btn-primary{
    color: teal;
    background-color: teal;
    border-color: teal;
    margin: 0 5px 5px 5px;
}

.btn{
    color: white;
}

#inputLabel{
    font-size: 30px;
    margin-right: 10px;
}

img{
    width: 300px;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;  
      
}

div.gifImage{
    display: inline-block;
    padding: 5px;
    text-align: center;
    
}

.gifDiv{
    margin: 30px 30px 30px 30px;
    display: inline-block;
    align-content: center;
}

#gifDiv{
    margin: 30px 30px 30px 30px;
    display: inline-block;
    align-content: center;
}

.gifImage{
    display: inline;
}

div.gifDiv{
    text-align: center;
}